.wrapBtns {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  position: fixed;
  top: 0;

}

.wrapPage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 1vh;
  padding: 10px;
  background-color: rgb(47, 47, 47);
  margin-top: 40px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}

.pesquisas{
  display: flex;
  gap: 10px;
}
.pesquisas input{
  padding: 5px;
  border-radius: 15px;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.abrirInfo{
  border-radius: 50%;
  background-color: grey;
  width: 25px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}